body {
    margin: 0;
    background-color: #1e1e1c; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calendar-container {
    background-color:#ffffff;
    color: #1e1e1c;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(162, 160, 160, 0.2);
}

.months-name {
    margin: 0;
    background-color:rgb(255, 39, 39);
    color: white;
    padding: 10px 0;
    font-size: 1.5em;
    font-weight: bold;
}

.day-name{
    font-size: 1.2rem;
    color: #626256;
}

.day-number {
    font-size: 4rem;
    margin: 0px;
    font-weight: bold;
}

.year {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #626256;
}

