@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #242424;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: oklch(49.1% 0.27 292.581);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: oklch(38% 0.189 293.745);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: oklch(49.1% 0.27 292.581);
    background-color: #ffffff;
  }
  a:hover {
    color: oklch(38% 0.189 293.745);
  }
  button {
    background-color: #f9f9f9;
  }
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: oklch(49.1% 0.27 292.581);
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}
.blog-details button {
  background: oklch(49.1% 0.27 292.581);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: oklch(49.1% 0.27 292.581);
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: oklch(49.1% 0.27 292.581);
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: oklch(49.1% 0.27 292.581);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
