body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.password-container {
    background-color: 	#8800e7;
    color: white;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(126, 120, 120, 0.3);
    text-shadow: 0 0 10px rgba(63, 60, 60, 0.3);
    margin: 10px;

}

.input-container {
    border: rgb(255, 255, 255) 3px solid;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.input{
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 24px;
    letter-spacing: 1.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input::placeholder{
    color: white;
    font-size: 20px;
    letter-spacing: 0px;
}

.material-symbols-outlined{
    cursor: pointer;
    font-size: 32px;
    transition: ease-in-out 0.3s;
    opacity: 0.8;
}
.material-symbols-outlined:hover{
    color: #370b57f0;
    opacity: 1;
    transform: scale(1.2);
}

.btn {
    background-color: #421165f0;
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 5px;
    font-size: 18px;
    transition: ease-in-out 0.2s;
    box-shadow: 0 0 10px rgba(126, 120, 120, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.btn:hover {
    background-color: #220734f0;
    cursor: pointer;
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}   

.alert-container {
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: #421165f0;
    color:white;
    bottom: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(126, 120, 120, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;    
    transition: bottom 0.5s ease-in-out;    
}

.active.alert-container {
    bottom: -200px;
}