body {
  background-color: #efe8e2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #069593;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

#search-input {
  width: 60%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
  border-radius: 20px;
  font-size: 18px;
  color: #333;
}

#search-button {
  padding: 10px 20px;
  border: none;
  background-color: #069593;
  color: white;
  margin-left: 20px;
  font-size: 18px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: ease-in-out 0.5s;
}

#search-button:hover {
  background-color: #05504f;
  cursor: pointer;
  transform: scale(1.05);
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.search-result {
  margin-bottom: 60px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
  overflow: hidden;
}

.search-result:hover img {
  transform: scale(1.05);
}

.search-result img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: ease-in-out 0.5s;
}

.search-result a {
  padding: 10px;
  display: block;
  color: #333;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.search-result:hover a {
  background-color: rgba(0, 0, 0, 0.1);
}

#show-more-button {
  padding: 10px 20px;
  border: none;
  background-color: #069593;
  color: white;
  margin-left: 20px;
  font-size: 18px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
  border-radius: 20px;
  display: none;
  margin: 20px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: ease-in-out 0.5s;
}

#show-more-button:hover {
  background-color: #05504f;
  cursor: pointer;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .search-result {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .search-result {
    width: 100%;
  }

  form {
    flex-direction: column;
  }

  #search-input {
    margin-bottom: 20px;
  }
}
