body {
    margin: 0;
    height: 100vh;
    background-color: black;

}

span {
    background: url(https://img.icons8.com/?size=100&id=MSByQtBJfsPv&format=png&color=000000) no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    animation: animate 10s linear ;
}

@keyframes animate {
        0% {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
            filter: hue-rotate(0deg);
        }
        
        100% {
            transform: translate(-50%, -5000%) scale(1);
            opacity: 0;
            filter: hue-rotate(720deg);
        }
    }